<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="jp.k16.livewallpaper">

  <uses-feature android:name="android.software.live_wallpaper" />
  <application
    android:label="@string/wallpaper_name"
    android:icon="@drawable/thumbnail"
    android:debuggable="true">

    <service
      android:name="K16WallpaperService"
      android:label="@string/wallpaper_name"
      android:permission="android.permission.BIND_WALLPAPER">

      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>

      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/wallpaper" />
    </service>
  </application>
</manifest>
